h1{
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-size: large;
}
.section-box{
    border: 10px;
    padding: 50px;
    margin: auto;
    
}
div{
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
}

#student-name{
    color: gold;
    font-weight: 1000;
}
h2,h3{
    font-family: 'Times New Roman', Times, serif;
}
li:first-child{
    font-family: 'Courier New', Courier, monospace;
}
li:nth-child(2){
   font-family: 'Courier New', Courier, monospace; 
}
*{
    font-size: medium;
}

#divv{
    justify-content: center;
    align-items: center;
    display: flex;
}
